# [submodule "raylib-cpp"]
# 	path = raylib-cpp
# 	url = https://github.com/joshuadahlunr/raylib-cpp

[submodule "raylib_multi_window_experimental"]
	path = raylib_multi_window_experimental
	url = https://github.com/raylib-extras/raylib_multi_window_experimental
